In [1]:
# import modules and libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
data = pd.read_csv('data_flats.csv')
data.head()

,property_type,location,price,features
0,Sharp Two Bedroom Apartment,"Lbs Lekkki Ajah Lagos, Ajah, Lagos","1,200,000 per annum",2 Bedrooms3 Bathrooms3 Toilets12 Parking Space...
1,Two Bedroom Bungalow At Cooperative Villa Esta...,"Badore, Ajah, Lagos","1,000,000 per annum",2 Bedrooms2 Toilets Save
2,2 Bedroom Guest Charlet,"Cooperative Villa, Badore, Ajah, Lagos","1,000,000 per annum",2 Bedrooms2 Bathrooms3 Toilets Save
3,A Fairly Used & Spacious 2 Bedroom Flat,"Atunrase Estate, Gbagada, Lagos","1,100,000 per annum",2 Bedrooms2 Bathrooms3 Toilets1 Parking Space ...
4,Affordable 1 Bedroom Apartment,"Oniru, Victoria Island (VI), Lagos","1,800,000 per annum",1 Bedroom1 Bathroom2 Toilets Save

In [3]:
data.shape

(1460, 4)

In [4]:
data['neighourhood'] = data['location'].apply(lambda x: x.split(',')[1])

In [5]:
data['neighourhood']

0                        Ajah
1                        Ajah
2                      Badore
3                     Gbagada
4        Victoria Island (VI)
                ...
1455                    Lagos
1456       Off Checking Point
1457                   Badore
1458           Ikate Elegushi
1459     Victoria Island (VI)
Name: neighourhood, Length: 1460, dtype: object

In [6]:
data['location'] = data['location'].apply(lambda x: x.split(',')[-2])

In [7]:
data['location'] = data['location'].apply(lambda x: x.replace(' Ajah','Ajah').replace(' Gbagada','Gbagada').replace(' Victoria Island (VI)',
                                    'Victoria Island (VI)').replace(' Ikoyi','Ikoyi').replace(' Yaba','Yaba').replace(' Maryland','Maryland').replace(' Lekki','Lekki').replace(' Ikeja',
                                    'Ikeja').replace(' Magodo','Magodo').replace(' Ibeju Lekki','Ibeju Lekki').replace(' Apapa',
                                    'Apapa').replace(' Shomolu','Shomolu').replace(' Ikorodu','Ikorodu').replace(' Isolo','Isolo').replace(' Ilupeju',
                                    'Ilupeju').replace(' Isheri North','Isheri North').replace(' Oshodi','Oshodi').replace(' Ojota','Ojota').replace(' Ketu','Ketu').replace(' Ogudu',
                                    'Ogudu').replace(' KM 46','KM 46').replace(' Idimu','Idimu').replace(' Garki','Garki').replace(' Ipaja','Ipaja').replace(' Ikotun',
                                    'Ikotun').replace(' Alimosho','Alimosho').replace(' Kosofe','Kosofe').replace(' Magboro','Magboro').replace(' Epe','Epe').replace(' Ayobo','Ayobo').replace(' Agege',
                                    'Agege').replace(' Arepo','Arepo').replace(' Ojodu','Ojodu').replace(' Eko Atlantic City','Eko Atlantic City'))

In [8]:
data['location'] = data['location'].apply(lambda x: x.strip())

In [9]:
data['price'] = data['price'].str.replace(',', '')

In [9]:
data['price'] = data['price'].apply(lambda x: x.split()[0])
data['price'] = data['price'].str.replace('all', '0')
data['price'] = data['price'].astype(int)

In [10]:
data['bedroom'] = data['features'].apply(lambda x: x.split()[0])

In [11]:
data.bedroom

0       2
1       2
2       2
3       2
4       1
       ..
1455    3
1456    2
1457    2
1458    3
1459    3
Name: bedroom, Length: 1460, dtype: object

In [12]:
bath = data['features'].apply(lambda x: x.replace('Bedrooms','').replace('Bedroom',''))

In [13]:
bath

0       2 3 Bathrooms3 Toilets12 Parking Spaces Save
1                                   2 2 Toilets Save
2                        2 2 Bathrooms3 Toilets Save
3         2 2 Bathrooms3 Toilets1 Parking Space Save
4                         1 1 Bathroom2 Toilets Save
                            ...
1455                     3 3 Bathrooms4 Toilets Save
1456     2 2 Bathrooms3 Toilets3 Parking Spaces Save
1457                     2 2 Bathrooms3 Toilets Save
1458     3 3 Bathrooms3 Toilets2 Parking Spaces Save
1459     3 3 Bathrooms4 Toilets2 Parking Spaces Save
Name: features, Length: 1460, dtype: object

In [14]:
data['bathroom'] = bath.apply(lambda x: x.strip()[2])

In [15]:
toilets = bath.apply(lambda x: x.replace('Bathrooms','').replace('Bathroom','').replace('Toilets','').replace('Toilet',''))

In [16]:
toilets

0       2 3 3 12 Parking Spaces Save
1                          2 2  Save
2                        2 2 3  Save
3         2 2 3 1 Parking Space Save
4                        1 1 2  Save
                    ...
1455                     3 3 4  Save
1456     2 2 3 3 Parking Spaces Save
1457                     2 2 3  Save
1458     3 3 3 2 Parking Spaces Save
1459     3 3 4 2 Parking Spaces Save
Name: features, Length: 1460, dtype: object

In [17]:
data['toilet'] = toilets.apply(lambda x: x.strip()[3:5])

In [18]:
data['parking_lot'] = toilets.apply(lambda x: x.strip()[5:8])

In [19]:
data.head()

,property_type,location,price,features,neighourhood,bedroom,bathroom,toilet,parking_lot
0,Sharp Two Bedroom Apartment,Ajah,1200000,2 Bedrooms3 Bathrooms3 Toilets12 Parking Space...,Ajah,2,3,3,12
1,Two Bedroom Bungalow At Cooperative Villa Esta...,Ajah,1000000,2 Bedrooms2 Toilets Save,Ajah,2,2,,Sav
2,2 Bedroom Guest Charlet,Ajah,1000000,2 Bedrooms2 Bathrooms3 Toilets Save,Badore,2,2,3,S
3,A Fairly Used & Spacious 2 Bedroom Flat,Gbagada,1100000,2 Bedrooms2 Bathrooms3 Toilets1 Parking Space ...,Gbagada,2,2,3,1
4,Affordable 1 Bedroom Apartment,Victoria Island (VI),1800000,1 Bedroom1 Bathroom2 Toilets Save,Victoria Island (VI),1,1,2,S

In [99]:
data['bq'] = data['property_type'].apply(lambda x: 1 if 'Bq' in x else 0)

In [100]:
data.head(10)

,property_type,location,price,features,neighourhood,bedroom,bathroom,toilet,parking_lot,bq
0,Sharp Two Bedroom Apartment,Ajah,1200000,2 Bedrooms3 Bathrooms3 Toilets12 Parking Space...,Ajah,2,3,3,12,0
1,Two Bedroom Bungalow At Cooperative Villa Esta...,Ajah,1000000,2 Bedrooms2 Toilets Save,Ajah,2,2,,Sav,0
2,2 Bedroom Guest Charlet,Ajah,1000000,2 Bedrooms2 Bathrooms3 Toilets Save,Badore,2,2,3,S,0
3,A Fairly Used & Spacious 2 Bedroom Flat,Gbagada,1100000,2 Bedrooms2 Bathrooms3 Toilets1 Parking Space ...,Gbagada,2,2,3,1,0
4,Affordable 1 Bedroom Apartment,Victoria Island (VI),1800000,1 Bedroom1 Bathroom2 Toilets Save,Victoria Island (VI),1,1,2,S,0
5,Affordable 2 Bedroom Apartment,Ikoyi,6000000,2 Bedrooms2 Bathrooms3 Toilets Save,Ikoyi,2,2,3,S,0
6,A Lovely & Nice Very Good Mini Flat With Car Park,Yaba,700000,1 Bedroom1 Bathroom2 Toilets1 Parking Space Save,Akoka,1,1,2,1,0
7,Cozy Mini Flat,Victoria Island (VI),2250000,1 Bedroom1 Bathroom1 Toilet Save,Victoria Island (VI),1,1,1,S,0
8,A Room Self Contained,Lekki,350000,1 Bathroom2 Toilets10 Parking Spaces600 sqm To...,Agungi Extention,1,B,1,0 P,0
9,A Room Self Contained.,Lekki,450000,1 Bathroom1 Toilet6 Parking Spaces500 sqm Tota...,Lekki Expressway,1,B,6,Pa,0

In [101]:
data.to_csv('lagos_rent_data.csv', index = False)